<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>StrikeOne App</title>
</head>
<body>
  <a href="/auth/sign-up">Create Account</a>
  <a href="/auth/sign-in">Sign In</a>
  <h1>Welcome to StrikeOne!</h1>
  <p>A place where you can easily connect and interact with players and coaches near you.</p>
</body>
</html>
