<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <title>StrikeOne App</title>
</head>
<body>
    <% if (user) { %>
    <h1>Welcome to StrikeOne, <%= user.username %>!</h1>
    <p> 
        <a href="/auth/sign-out">Sign Out</a>
        <a href="/users/:userId/meetings">Enter the BallPark</a>
    </p>
    <% } else { %>
    <h1>Welcome to StrikeOne!</h1>
  <p>
    <a href="/auth/sign-up">Create Account</a> or <a href="/auth/sign-in">Sign In</a>
  </p>
  <% } %>

  <p>A place where you can easily connect and interact with players and coaches near you.</p>
</body>
</html>
