<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <title>StrikeOne App</title>
</head>
<body class="home-body">
    <% if(user) { %>
        <%- include('./partials/_navbar.ejs') %>
    <% } else { %>
   
    <% } %>
    
    <div class="home-container">
        <div class="text-container">
            <% if (user) { %>
                <h1 class="main-header">Welcome to StrikeOne, <%= user.username %>!</h1>
                <% } else { %>
                <h1 class="main-header">Welcome to StrikeOne!</h1>  
        </div>
        <div class="auth-links">
            <p>
                <a class="signup-link" href="/auth/sign-up">Create Account</a> or <a class="signin-link" href="/auth/sign-in">Sign In</a>
              </p>
              <% } %>
            
              <p class="subheader">A place where you can easily keep a log and interact with players and coaches near you.</p>
        </div>
    </div>
  
</body>
</html>
